@import 'styles';

nav{
  padding: 0;
  grid-area: nav;
  margin: auto;
}

nav ul {
  display: flex;
}


nav > ul li{
  @include section-title;
  padding: 0 1em 0 1em;
  display: block;
  padding: 30px;
  font-size: 1rem;

}
